<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBA Webpage</title>
    <link rel="stylesheet" href="/styles/dba.css">
</head>

<body>
    <div class="container">
        <h1>Global Trade Management Dashboard </h1>
        <!-- Form to add a new country -->
        <div class="form-container">
            <h2>Add Country</h2>
            <form id="addCountryForm" method="POST">
                <input type="text" id="countryName" placeholder="Country Name" name="countryName" required>
                <input type="text" id="countryIsocode" placeholder="Country Iso Code" name="isoCode" required>
                <button type="submit">Add Country</button>
            </form>
        </div>
        <!-- Table to display list of countries -->
        <div class="table-container">
            <h2>Country List</h2>
            <table id="countryTable">
                <thead>
                    <tr>
                        <th>Country Name</th>
                        <th>Flag</th>
                        <th>Iso Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="countryTableBody">
                    <!-- Countries will be dynamically added here -->
                </tbody>
            </table>
        </div>

        <!-- Form to add a new product -->
        <div class="form-container">
            <h2>Add Product</h2>
            <form id="addProductForm">
                <!-- <div class="chkboxProduct">

                    <input type="radio" name="trade" id="importId" vale="import">Import

                    <input type="radio" name="trade" id="exportId" value="export">Export
                </div> -->
                <input type="text" id="productName" placeholder="Product Name" name="productName" required>
                <!-- <input type="text" id="productType" placeholder="Category" name="productCategory" required>
                <input type="text" id="countryId" placeholder="Country Id" name="productCountryId" required> -->
                <button type="submit">Add Product</button>
            </form>
        </div>

        <!-- Table to display list of products -->
        <div class="table-container">
            <h2>Product List</h2>
            <table id="productTable">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Category</th>
                        <th>Trade Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="productTableBody">
                    <!-- Products will be dynamically added here -->
                </tbody>
            </table>
        </div>

        <!-- Form to add import and export amounts -->
        <div class="form-container">
            <h2>Add Import/Export Amount</h2>
            <form id="addAmountForm">
                <input type="text" id="amountCountry" placeholder="Country Name" required>
                <input type="text" id="importAmount" placeholder="Import Amount" required>
                <input type="text" id="exportAmount" placeholder="Export Amount" required>
                <button type="submit">Add Amount</button>
            </form>
        </div>
        <div class="separator"></div>

        <div class="heading">Update Details</div>
        <!-- Form to update country -->
        <div class="form-container">
            <h2>Update Country</h2>
            <form id="addCountryForm">
                <input type="text" id="ExistcountryName" placeholder="Exsisting Country Name" required>
                <input type="text" id="countryName" placeholder="New Country Name" required>
                <input type="text" id="Newiscocode" placeholder="New Iso Code" required>
                <input type="url" id="countryFlag" placeholder="Country Flag URL" required>
                <button type="submit">Add Country</button>
            </form>
        </div>

        <!-- Update a new product -->
        <div class="form-container">
            <h2>Update Product of country</h2>
            <form id="addProductForm">
                <div class="chkboxProduct">

                    <input type="radio" name="trade" id="importId">Import
                    <input type="radio" name="trade" id="exportId">Export
                </div>
                <input type="text" id="countryName" placeholder="Country Name" required>
                <input type="text" id="productName" placeholder="Product Name" required>
                <button type="submit">Add Product</button>
            </form>
        </div>

        <!-- Update import and export amounts -->
        <div class="form-container">
            <h2>Update Import/Export Amount</h2>
            <form id="addAmountForm">
                <input type="text" id="amountCountry" placeholder="Country Name" required>
                <input type="text" id="importAmount" placeholder="Import Amount" required>
                <input type="text" id="exportAmount" placeholder="Export Amount" required>
                <button type="submit">Add Amount</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>