<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Details</title>
    <link rel="stylesheet" href="/styles/trades.css">
</head>

<body>
    <header>
        <span>Global Trades Platform</span>
        <div class="hamburger" id="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav id="navMenu">
            <a href="#">Home</a>
            <a href="/trades">Trades</a>
            <a href="/dba">DBA</a>
            <a href="#footer">About Us</a>
            <!-- <a href="/login">Login</a> -->
        </nav>
    </header>

    <main>
        <div class="countries">
            
            <ul class="details">
                <li class="country">
                    <div class="img"><img src="assets/flag.png" alt="flag"></div>
                    <p class="name">India</p>
                </li>

                <li class="country">
                    <div class="img"><img src="assets/flag.png" alt="flag"></div>
                    <p class="name">India</p>
                </li>
                <li class="country">
                    <div class="img"><img src="assets/flag.png" alt="flag"></div>
                    <p class="name">India</p>
                </li>
                <li class="country">
                    <div class="img"><img src="assets/flag.png" alt="flag"></div>
                    <p class="name">India</p>
                </li>
                <li class="country">
                    <div class="img"><img src="assets/flag.png" alt="flag"></div>
                    <p class="name">India</p>
                </li>
                <li class="country">
                    <div class="img"><img src="assets/flag.png" alt="flag"></div>
                    <p class="name">India</p>
                </li>
            </ul>
        </div>

    </main>

</body>

</html>